html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: hidden;
}

:root {
  --color-background: #000000;
  --color-text: #cfcfcf;
  --color-scrim: rgba(20, 0, 0, 0.1);
  --color-border: rgba(144, 144, 144, 0.2);
  --color-hover: rgba(144, 144, 144, 0.1);
}

.dark {
  --color-background: #1d1d1d;
  --color-text: #cfcfcf;
  --color-scrim: rgba(20, 0, 0, 0.1);
}

.light {
  --color-background: #f7f3f3;
  --color-text: #1d1d1d;
  --color-scrim: rgba(255, 255, 255, 0.9);
}

button {
  background: transparent;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 2px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  overscroll-behavior: none;
  touch-action: none;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--color-background);
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

canvas {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}
